:root{
  --strong-cyan: hsl(171, 66%, 44%);
  --light-blue: hsl(233, 100%, 69%);

  --dark-grayish-blue: hsl(210, 10%, 33%);
  --grayish-blue: hsl(201, 11%, 66%);

  --padding-container: 80px 0;
}

*{
  box-sizing: border-box;
  margin: 0;
}

body{
  font-family: 'Bai Jamjuree', sans-serif;
}

.container{
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  overflow: hidden;
  padding: var(--padding-container);
}

.hero{
  --padding-container: 120px 0 80px;
  background-image: url(./images/bg-header-mobile.png);
  background-repeat: no-repeat;
  background-size: 100%;
  text-align: center;
}

.hero_img{
  display: block;
  margin-bottom: 4.5em;
  margin: 0 auto;
}

.hero_title{
  color: var(--dark-grayish-blue);
  margin-bottom: 1rem;
}

.hero_paragraph{
  color: var(--grayish-blue);
  line-height: 1.5;
}

.buttons{
  margin-top: 2.3em;
  display: flex;
  flex-direction: column;
  gap: 2em;
  text-align: center;
}

.buttons_cta{
  background-color: var(--strong-cyan);
  color: aliceblue;
  text-decoration: none;
  border-radius: 2em;
  font-weight: 600;
  padding: 1em 0;
  box-shadow: 0 0 10px -5px var(--strong-cyan);
}

.buttons_cta-blue{
  box-shadow: 0 0 10px -5px var(--strong-cyan);
  background-color: var(--light-blue);
}

.track_texts{
  text-align: center;
}

.title{
  color: var(--dark-grayish-blue);
  font-size: 2rem;
}

.paragraph{
  line-height: 1.5;
  color: var(--grayish-blue);
  margin-top: 1.5em;
}
.track_img{
  width: 100%;
  max-width: 400px;
  display: block;
  margin: 0 auto;
  margin-top: 3.5em;
}

.track_articles{
  display: flex;
  flex-direction: column;
  gap: 3.5em;
  margin-top: 2.5em;
  text-align: center;
}

.track_offer{
  color: var(--dark-grayish-blue);
  font-size: 1.5rem;
}

.track_copy{
  margin-top: .7em;
  line-height: 1.5;
  color: var(--grayish-blue);
}

.clipboard{
  text-align: center;
}

.clipboard_picture{
  margin: 3em 0 6em;
}

.clipboard_img{
  display: block;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
}

.clipboard_offer{
  display: flex;
  flex-direction: column;
  gap: 3.5em;
  margin-top: 4em;
}

.clipboard_icon{
  display: block;
  width: 45px;
  margin: 0 auto;
  margin-bottom: 1.5em;
}

.clipboard_title{
  font-size: 1.5rem;
  color: var(--dark-grayish-blue);
}

.clipboard_paragraph{
  color: var(--grayish-blue);
  line-height: 1.5;
  margin-top: 1em;
}

.brands{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4.5em;
}

.action{
  text-align: center;
}

.footer{
  background-color: #f2f2f2;
  text-align: center;
}

.footer_img{
  display: block;
  width: 100px;
  margin: 0 auto;
}

.footer_links{
  margin: 4em 0;
  display: flex;
  flex-direction: column;
  gap: 1.5em;
  align-items: center;
}

.footer_link{
  text-decoration: none;
  color: var(--dark-grayish-blue);
}

.footer_link.hover{
  text-decoration: underline;
}

.footer_social{
  display: flex;
  gap: 3em;
  justify-content: center;
}

.footer_media{
  text-decoration: none;
}

.footer_icon{
  display: block;
}

@media(min-width:768px){
  .hero{
    --padding-conteiner: 120px 0 90px;
    background-image: url('./images/bg-header-desktop.png');
  }
  
  .hero_title{
    color: var(--dark-grayish-blue);
    margin-bottom: 1rem;
  }
  
  .buttons{
    margin-top: 3em;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  
  .buttons_cta{
    padding: 1em 3em;
  }

  .track{
    --padding-container: 80px 0 0;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .track_texts{
    width: 90%;
    margin: 0 auto;
    margin-bottom: 1.5em;
  }
  
  .title{
    font-size: 2.5rem;
  }

  .track_picture{
    position: relative;
    width: 50%;
    overflow: hidden;
    height: 700px;
  }
  
  .track_img{
    width: 125%;
    max-width: 650px;

    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto 0;
  }
  
  .track_articles{
    width: 42%;
    gap: 3em;
    margin: 0 auto;
    text-align: left;
    align-self: center;
  }

  .clipboard{
    --padding-container: 20px 0 80px;
  }
  
  .clipboard_img{
    max-width: 700px;
  }
  
  .clipboard_offer{
    flex-direction: row;
    gap: 2em;
    margin-top: 4em;
    justify-content: space-between;
    align-items: baseline;
  }

  .clipboard_item{
    flex: 1;
  }
  
  .brands{
    flex-direction: row;
    justify-content: space-between;
    gap: 2em;
  }

  .brands_iter{
    min-width: 100px;
    max-width: 130px;
    flex: 1;
  }

  .footer_container{
    display: flex;
    gap: 2em;
    align-items: center;
  }

  .footer_img{
    width: 70px;
  }

  .footer_links{
    margin: 0;
    flex-direction: row;
    gap: 1em;
    align-items: center;
    flex-wrap: wrap;
  }

  .footer_link{
    width: 28%;
  }

  .footer_social{
    margin-left: auto;
  }
}