:root{
  --very-darkblue: hsl(243, 87%, 12%);
  --desaturated-blue: hsl(238, 22%, 44%);

  --bright-blue: hsl(224, 93%, 58%);
  --moderate-cyan: hsl(170, 45%, 43%);

  --light-grayish-blue: hsl(240, 75%, 98%);
  --light-gray: hsl(0, 0%, 75%);

  --font1: 'Open Sans', sans-serif;
  --font2: 'Raleway', sans-serif;

  --padding-container: 90px 0;
}

*{
  margin: 0;
  box-sizing: border-box;
}

body{
  font-family: var(--font1);
}

.container{
  width: 90%;
  max-width: 1200px;
  overflow: hidden;
  margin: 0 auto;
  padding: var(--padding-container);
}

.nav{
  display: flex;
  align-items: center;
  gap: 1.1em;
  --padding-container: 40px 0;
}

.nav_logo{
  width: 110px;
}

.nav_img{
  width: 100%;
  display: block;
}

.nav_link:first-of-type{
  margin-left: auto;
}

.nav_link{
  text-decoration: none;
  color: var(--desaturated-blue);
  font-family: var(--font2);
}