:root{
  --dark-violet: hsl(256, 26%, 20%);
  --grayish-blue: hsl(216, 30%, 68%);

  --very-dark-violet: hsl(270, 9%, 17%);
  --dark-grayish-violet: hsl(273, 4%, 51%);
  --very-light-gray: hsl(0, 0%, 98%);

  --font1: 'DM Serif Display', serif;

  --padding-container: 80px 0;

  scroll-padding-top: 80px;
}

*{
  margin: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Karla', sans-serif;
}

.container{
  max-width: 1200px;
  width: 90%;
  overflow: hidden;
  margin: 0 auto;
  padding: var(--padding-container);
}

.hero{
  background-color: var(--dark-violet);
  color: aliceblue;
  --padding-container: 0;
}

.nav{
  background-color: aliceblue;
}

.nav_container{
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav_links{
  display: none;
}

.nav_icon, .nav_logo{
  display: block;
}

.hero_main{
  width: 100%;
}

.hero_main::before{
  content: "";
  display: block;
  width: 100%;
  height: 370px;
  background-image: url('./images/image-intro-mobile.jpg');
  background-size: cover;
  background-position: center;
  z-index: -2;
}

.hero_texts{
  width: 90%;
  margin: 0 auto;
  padding: 80px 0;
  text-align: center;
}

.title{
  font-size: 2.5rem;
  font-family: var(--font1);
  letter-spacing: 3px;
}

.hero_paragraph{
  line-height: 1.5;
  margin-top: 1em;
}

.cta{
  display: inline-block;
  margin-top: 1.5em;
  border: 1px solid aliceblue;
  text-decoration: none;
  color: aliceblue;
  padding: .8em 2.2em;
}

/*different*/
.different{
  text-align: center;
}

.title-different{
  position: relative;
  padding-top: 30px;
}

.title-different::before{
  content: "";
  position: absolute;
  top: -5px;
  right: 0;
  left: 0;
  display: block;
  margin: 0 auto;
  background-color: var(--dark-grayish-violet);
  width: 120px;
  height: 1px;
}

.different_items{
  margin-top: 3.5em;
  display: flex;
  flex-direction: column;
  gap: 3em;
}

.different_icon{
  display: block;
  margin: 0 auto;
  margin-bottom: 2em;
}

.different_title{
  font-family: var(--font1);
  font-size: 1.5rem;
  letter-spacing: 3px;
}

.different_paragraph{
  margin-top: 1em;
  line-height: 1.5;
  color: var(--dark-grayish-violet);
}

/*find*/
.find{
  padding: 80px 0;
  --padding-container: 60px 30px;
}

.find_container{
  position: relative;
  z-index: 1;
  color: aliceblue;
  background-color: var(--dark-violet);
  text-align: center;
}

.find_container::before{
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  background-image: url('./images/bg-pattern-how-we-work-mobile.svg');
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1;
}

/*footer*/
.footer{
  background-color: var(--very-light-gray);
}

.footer_container{
  position: relative;
  z-index: 1;

}

.footer_container::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 130%;
  height: 11%;
  background-image: url('./images/bg-pattern-footer-mobile.svg');
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1;
}

.footer_brand{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5em;

  padding-bottom: 2.5em;
  margin-bottom: 2.5em;

  border-bottom: 1px solid var(--dark-grayish-violet);
}

.footer_logo{
  display: block;
}

.footer_media{
  display: flex;
  gap: 1em;
  justify-content: center;
  align-items: center;
}

.footer_navigation{
  display: flex;
  flex-direction: column;
  gap: 3em;
}

.footer_nav{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5em;
}

.footer_link{
  text-decoration: none;
  color: var(--dark-violet);
  font-weight: 700;
  text-transform: uppercase;
}

.footer_link-first{
  margin-bottom: 1em;
  color: var(--dark-grayish-violet);
}